
<div class="callrecords_action">
    <!-- საძიებო ველი -->
    <input type="text" id="searchField" placeholder="find..." style="margin-top: 15px;">

    <!-- კალენდარი -->
    <input type="date" id="dateFilter" style="margin-top: 15px;">
</div>

<div class="callrecords_container">
    <div th:each="record : ${callrecords}" class="callrecords" data-date="2025-08-11">
        <p class="record" th:text="${record}"></p>
        <audio controls>
            <source th:src="@{'/records/' + ${record}}" type="audio/wav">
            Your browser does not support the audio element.
        </audio>
    </div>
</div>