<div class="ext-actions">
    <!-- Program ღილაკი -->
    <form action="/ext-program" method="post">
        <button type="submit" class="action-btn" id="ext-program-btn">Program</button>
    </form>

    <!-- Add ღილაკი და ფორმა -->
    <form action="/ext-add" method="post" class="range-form">
        <input type="text" name="exten" placeholder="exten">
        <input type="text" name="exten-end" placeholder="exten-end">
        <button type="submit" class="action-btn" id="ext-add-btn">Add</button>
        <label id="program-alert" style="color: rgb(251, 255, 0); font-size: 18px;" hidden>&#x26A0;</label>
    </form>

    <!-- საძიებო ველი -->
    <input type="text" id="searchField" placeholder="find..." style="margin-top: 15px;">
</div>

<div th:each="ext : ${extensions}" class="ext-form">
    <!-- თითოეული ფორმის ID იქნება დინამიური ext.id-ის მიხედვით -->
    <form class="exten-form" method="post" >
        <input type="text" name="exten_id" th:value="${ext.id}">
        <input type="text" name="callerId" th:value="${ext.callerId}">
        <input type="text" name="context" th:value="${ext.context}">
        <input type="password" name="password" th:value="${ext.shower}">
        <!-- edit ღილაკი, ID დინამიურად ერგება ext.id -->
        <button type="submit" class="mini-btn" 
                th:id="'ext-edit-btn' + ${ext.id}" 
                id="ext-edit-btn" 
                th:formaction="@{/edit-exten/{id}(id=${ext.id})}">
            Edit
        </button>

        <!-- delete ღილაკი, ID დინამიურად ერგება ext.id -->
        <button type="submit" class="mini-btn" 
                th:id="'ext-delete-btn' + ${ext.id}" 
                id="ext-delete-btn" 
                th:formaction="@{/delete-exten/{id}(id=${ext.id})}">
            Delete
        </button>
    </form>
</div>
<script th:src="@{/scripts/extensions.js}"></script>



