<div class="inbound-actions">
    <form action="/trunk-add" method="post" class="inbound-inline-form">
        <button type="submit" formaction="/inbound-program" class="inbound-btn" data-action="program">Program</button>
    </form>
</div>
<div th:each="trunk : ${trunks}" class="inbound-edit-div">
    <form class="inbound-edit-form" method="post">
        <input type="text" th:value="${trunk.trunkName}" readonly>
        <input type="hidden" name="id" th:value="${trunk.id}">
        <select name="voiceMessage" class="inbound-selector" >
            <option th:value="${trunk.voiceMessage}" th:text="${trunk.voiceMessage}"></option>
            <option value=""></option>
            <option th:each="message : ${messages}" th:value="${message}" th:text="${message}">
            </option>
        </select>
        <select name="candidate" class="inbound-selector">
        
        <option th:value="${trunk.inboundRoute}" th:text="${trunk.inboundRoute}"></option>
            <option th:each="candidate : ${candidates}" th:value="${candidate}" th:text="${candidate}">
            </option>
        </select>
        <button type="submit" class="inbound-action-btn" th:id="'inbound-set-btn' + ${trunk.id}" id="inbound-set-btn"
            data-action="set" th:formaction="@{/setinboundroute/{id}(id=${trunk.id})}">
            Set
        </button>
    </form>
</div>
<script th:src="@{/scripts/inboundroutes.js}"></script>