<!-- Top Actions Bar -->
<div class="queue-actions-div">
    <form action="/queue-program" class="queue-program-form" method="post">
        <button type="submit" class="action-btn" id="queue-progra-btn">Program</button>
    </form>

    <form action="/queue-add" method="post" id="queue-form" class="queue-add-form">
        <select name="queue_voice_message" class="queue-voice-selector">
            <option value="">voiceMessage</option>
            <option th:each="message : ${messages}" th:value="${message}" th:text="${message}"></option>
        </select>

        <select name="queue_strategy" class="add-strategy-selector">
            <option value="linear">Linear</option>
            <option value="ringAll">RingAll</option>
            <option value="roundrobin">Roundrobin</option>
            <option value="leastrecent">Leastrecent</option>
        </select>
        <select name="voiceLang" class="queue-voice-selector">
            <option th:value="${systemSound}" th:text="${systemSound}"></option>
            <option th:each="sound : ${sounds}" th:value="${sound}" th:text="${sound}"></option>
        </select>

        <textarea name="members" id="membersInput" class="members-textarea"
            placeholder="110021, 110032, 110025 or space-separated" required></textarea>


        <span id="member-count" class="member-count">0 members </span>

        <button type="submit" class="action-btn">Add</button>
    </form>
</div>


<div th:each="queue : ${queues}" class="queue-edit-div">
    <form class="queue" method="post" th:action="@{/edit-queue/{id}(id=${queue.id})}">
        <input type="hidden" name="queueId" th:value="${queue.id}" />
        <input type="text" name="queue_id" th:value="${queue.id}" readonly>

        <select name="queueVoiceMessage" class="queue-voice-selector">
            <option th:value="${queue.voiceMessage}" th:text="${queue.voiceMessage}"></option>
            <option value="">voiceMessage</option>
            <option th:each="message : ${messages}" th:value="${message}" th:text="${message}"></option>
        </select>
        <select name="voiceLang" class="queue-voice-selector">
            <option th:value="${queue.voiceLang}" th:text="${queue.voiceLang}"></option>
            <option th:each="sound : ${sounds}" th:value="${sound}" th:text="${sound}"></option>
        </select>
        <select name="editStrategy" class="edit-strategy-selector">
            <option th:value="${queue.strategy}" th:text="${queue.strategy}"></option>
            <option value="linear">Linear</option>
            <option value="ringAll">RingAll</option>
            <option value="roundrobin">Roundrobin</option>
            <option value="leastrecent">Leastrecent</option>
        </select>

        <input type="text" name="context" th:value="${queue.context}" placeholder="Context" hidden>

        <textarea name="queue_members" class="members-textarea" rows="3"
            th:text="${#strings.replace(queue.members, '[', '').replace(']', '')}"></textarea>

        <label>
            <input type="checkbox" name="recordPermit" th:checked="${queue.recordPermit}">
            Record
        </label>

        <button type="submit" class="queue-edit-btn" th:id="'queue-edit-btn' + ${queue.id}">
            Edit
        </button>

        <button type="submit" class="queue-delete-btn" th:id="'queue-delete-btn' + ${queue.id}"
            th:formaction="@{/delete-queue/{id}(id=${queue.id})}">
            Delete
        </button>
    </form>
</div>

<script th:src="@{/scripts/queues.js}"></script>