<div class="ser-actions">
    <button type="submit" class="ser-act-btn" id="ser-edit-btn-clone">
        Edit 
    </button>
    <form action="/set-reboot" method="post" class="ser-form">
        <button type="submit" class="ser-act-btn" id="ser-reboot-btn">Reboot</button>
    </form>

    <form action="/set-factory-reset" method="post" class="range-form">
        <input type="text" name="key">
        <button type="submit" class="ser-act-btn" id="ser-factory-btn">Factory Reset</button>
    </form>
    <h4 class="seriall-number">seriall number</h4>
</div>
<div id="server-settings-container">
    <form action="/set-serversettings">
        <label for="ser-port">Port</label>
        <input type="text" name="ser-port" id="ser-port" th:value="${port}">

        <label for="ser-licenzi">License</label>
        <input type="text" name="ser-licenzi" id="ser-licenzi" th:value="${licenzi}">

        <label for="ser-data-user">Data User</label>
        <input type="text" name="ser-data-user" id="ser-data-user" th:value="${dataUser}">

        <label for="ser-data-password">Data Password</label>
        <input type="password" name="ser-data-password" id="ser-data-password" th:value="${dataPassword}">

        <label for="ser-data-name">Data Name</label>
        <input type="text" name="ser-data-name" id="ser-data-name" th:value="${dataName}">

        <label for="ser-data-port">Data Port</label>
        <input type="text" name="ser-data-port" id="ser-data-port" th:value="${dataPort}">

        <label for="ser-data-host">Data Host</label>
        <input type="text" name="ser-data-host" id="ser-data-host" th:value="${dataHost}">

        <button type="submit" class="ser-btn" id="ser-edit-btn" hidden>
            Edit
        </button>
    </form>
</div>
<script th:src="@{/scripts/serversettings.js}"></script>