<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>P2T</title>
  <link rel="stylesheet" th:href="@{/styles/main.css}">
  <link rel="stylesheet" th:href="@{/styles/serversettings.css}">
  <link rel="stylesheet" th:href="@{/styles/sipsettings.css}">
  <link rel="stylesheet" th:href="@{/styles/networksettings.css}">
  <link rel="stylesheet" th:href="@{/styles/extensions.css}">
  <link rel="stylesheet" th:href="@{/styles/trunks.css}">
  <link rel="stylesheet" th:href="@{/styles/inboundroutes.css}">
  <link rel="stylesheet" th:href="@{/styles/outboundroutes.css}">
  <link rel="stylesheet" th:href="@{/styles/callgroups.css}">
  <link rel="stylesheet" th:href="@{/styles/queues.css}">
  <link rel="stylesheet" th:href="@{/styles/systemsounds.css}">
  <link rel="stylesheet" th:href="@{/styles/announcements.css}">
  <link rel="stylesheet" th:href="@{/styles/ivr.css}">
  <link rel="stylesheet" th:href="@{/styles/callrecording.css}">
  <link rel="stylesheet" th:href="@{/styles/moh.css}">
  <link rel="stylesheet" th:href="@{/styles/servicecodes.css}">
  <link rel="stylesheet" th:href="@{/styles/rooms.css}">
  <link rel="stylesheet" th:href="@{/styles/administrator.css}">
  <link rel="icon" type="image/x-icon" th:href="@{/images/icon.png}" />
</head>

<body>

  <aside>
    <div class="logo">MINITELSY P2T</div>

    <div class="dropdown">
      <button class="menu-button" onclick="toggleMenu(this)">Call Management &#x25BE;</button>
      <div class="submenu">
        <button class="submenu-button" onclick="loadContent('/callgroups', this)">Call Groups</button>
        <button class="submenu-button" onclick="loadContent('/queues', this)">Queues</button>
        <button class="submenu-button" onclick="loadContent('/ivr', this)">IVR</button>
      </div>
    </div>

    <div class="dropdown">
      <button class="menu-button" onclick="toggleMenu(this)">Applications &#x25BE;</button>
      <div class="submenu">
        <button class="submenu-button" onclick="loadContent('/announcements', this)">Announcements</button>
        <button class="submenu-button" onclick="loadContent('/moh', this)">Music On Hold</button>
        <button class="submenu-button" onclick="loadContent('/callrecording', this)">Call Recording</button>
      </div>
    </div>

    <div class="dropdown">
      <button class="menu-button" onclick="toggleMenu(this)">Connectivity &#x25BE;</button>
      <div class="submenu">
        <button class="submenu-button" onclick="loadContent('/sipsettings', this)">SIP Settings</button>
        <button class="submenu-button" onclick="loadContent('/extensions', this)">Extensions</button>
        <button class="submenu-button" onclick="loadContent('/trunks', this)">Trunks</button>
        <button class="submenu-button" onclick="loadContent('/outboundroutes', this)">Outbound Routes</button>
        <button class="submenu-button" onclick="loadContent('/inboundroutes', this)">Inbound Routes</button>
      </div>
    </div>

    <div class="dropdown">
      <button class="menu-button" onclick="toggleMenu(this)">PMS &#x25BE;</button>
      <div class="submenu">
        <button class="submenu-button" onclick="loadContent('/servicecodes', this)">Service codes</button>
        <button class="submenu-button" onclick="loadContent('/rooms', this)">Rooms</button>
      </div>
    </div>

    <div class="dropdown">
      <button class="menu-button" onclick="toggleMenu(this)">Settings &#x25BE;</button>
      <div class="submenu">
        <button class="submenu-button" onclick="loadContent('/serversettings', this)">Server Settings</button>
        <button class="submenu-button" onclick="loadContent('/networksettings', this)">Network Settings</button>
        <button class="submenu-button" onclick="loadContent('/systemsounds', this)">System Sounds</button>
      </div>
    </div>

     <div class="dropdown">
      <button class="menu-button" onclick="toggleMenu(this)">Admin &#x25BE;</button>
      <div class="submenu">
        <button class="submenu-button" onclick="loadContent('/administrator', this)">Administrato</button>
        <button class="submenu-button" onclick="loadContent('/systemupdates', this)">System Updates</button>
        <button class="submenu-button" onclick="loadContent('/modules', this)">Modules</button>
      </div>
    </div>

    <form th:action="@{/logout}" method="post">
      <button type="submit" class="logout-btn" >Logout</button>
    </form>

  </aside>

  <main id="main-content">

  </main>
  <script th:src="@{/scripts/main.js}"></script>

</body>

</html>