<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title> P2T</title>
  <link rel="stylesheet" th:href="@{/styles/main.css}">
  <link rel="stylesheet" th:href="@{/styles/serversettings.css}">
  <link rel="stylesheet" th:href="@{/styles/networksettings.css}">
  <link rel="stylesheet" th:href="@{/styles/extensions.css}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

  <aside>
    <div class="logo">Asterisk PBX</div>

    <div class="dropdown">
      <button class="menu-button" onclick="toggleMenu(this)">Dashboard &#x25BE;</button>
      <div class="submenu">
        <button class="submenu-button" onclick="loadContent('/systemoverview', this)">System Overview</button>
        <button class="submenu-button" onclick="loadContent('/activechannels', this)">Active Channels</button>
        <button class="submenu-button" onclick="loadContent('/cpuram', this)">CPU & RAM</button>
      </div>
    </div>

    <div class="dropdown">
      <button class="menu-button" onclick="toggleMenu(this)">Call Management &#x25BE;</button>
      <div class="submenu">
        <button class="submenu-button" onclick="loadContent('/extensions', this)">Extensions</button>
        <button class="submenu-button" onclick="loadContent('/ringgroups', this)">Ring Groups</button>
        <button class="submenu-button" onclick="loadContent('/queues', this)">Queues</button>
        <button class="submenu-button" onclick="loadContent('/conferences', this)">Conferences</button>
      </div>
    </div>

    <div class="dropdown">
      <button class="menu-button" onclick="toggleMenu(this)">Applications &#x25BE;</button>
      <div class="submenu">
        <button class="submenu-button" onclick="loadContent('/ivr', this)">IVR</button>
        <button class="submenu-button" onclick="loadContent('/announcements', this)">Announcements</button>
        <button class="submenu-button" onclick="loadContent('/call-parking', this)">Call Parking</button>
        <button class="submenu-button" onclick="loadContent('/call-forwarding', this)">Call Forwarding</button>
      </div>
    </div>

    <div class="dropdown">
      <button class="menu-button" onclick="toggleMenu(this)">Connectivity &#x25BE;</button>
      <div class="submenu">
        <button class="submenu-button" onclick="loadContent('/sipsettings', this)">SIP Settings</button>
        <button class="submenu-button" onclick="loadContent('/trunks', this)">Trunks</button>
        <button class="submenu-button" onclick="loadContent('/outboundroutes', this)">Outbound Routes</button>
        <button class="submenu-button" onclick="loadContent('/inboundroutes', this)">Inbound Routes</button>
        <button class="submenu-button" onclick="loadContent('/firewall', this)">Firewall</button>
      </div>
    </div>

    <div class="dropdown">
      <button class="menu-button" onclick="toggleMenu(this)">Admin &#x25BE;</button>
      <div class="submenu">
        <button class="submenu-button" onclick="loadContent('/usermanagement', this)">User Management</button>
        <button class="submenu-button" onclick="loadContent('/systemupdates', this)">System Updates</button>
        <button class="submenu-button" onclick="loadContent('/modules', this)">Modules</button>
      </div>
    </div>

    <div class="dropdown">
      <button class="menu-button" onclick="toggleMenu(this)">Settings &#x25BE;</button>
      <div class="submenu">
        <button class="submenu-button" onclick="loadContent('/serversettings', this)">Server Settings</button>
        <button class="submenu-button" onclick="loadContent('/networksettings', this)">Network Settings</button>
        <button class="submenu-button" onclick="loadContent('/voicemailsettings', this)">Voicemail Settings</button>
        <button class="submenu-button" onclick="loadContent('/timegroups', this)">Time Groups</button>
        <button class="submenu-button" onclick="loadContent('/featurecodes', this)">Feature Codes</button>
      </div>
    </div>
  </aside>

  <main id="main-content">
    
  </main>
  <script th:src="@{/scripts/main.js}"></script>
  
</body>

</html>